useDynLib(jxlr, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(utils, head)
importFrom(grDevices, dev.cur, dev.off, png)
export(jxl_info)
export(read_jxl)
export(write_jxl)
export(read_jxl_anim)
export(write_jxl_anim)
export(read_jxl_as)
export(write_jxl_as)
export(plot_to_jxl)